<!-- templates/base1.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles1.css') }}">
    <title>Stack Overflow-like App</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type=text/javascript>
        $(function() {
          $('button#test').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/background_process_test',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
</script>
</head>
<style>
    body {
        background: linear-gradient(280deg, rgba(244, 130, 36, 1) 0%, rgba(244, 176, 80, 1) 41%, rgba(255, 212, 81, 1) 91%);
        background-size: cover;

    }
    .bord {
        border-bottom:2.5px solid black;
    }
    .to {
        margin:25px;
    }
</style>

<body>
        <nav class = "bord">
            <ul class="nav-bar">
                <div><a href="{{ url_for('index') }}">
                            <img src="{{ url_for('static', filename='stackoverflow-logo.png') }}"
                                alt="Stack Overflow Logo" height= "25vh"/>
                        </a>
                    <li><a href="{{ url_for('ask') }}">Ask a Question</a></li>

            </ul>
        </nav>

    <div class="container to">
        {% block content %}{% endblock %}
    </div>
</body>

</html>